{% extends 'base.html.twig' %}

{% block title %}New Donation{% endblock %}

{% block body %}
    <h1>Create new Donation</h1>

    {{ include('donation/_form.html.twig') }}

    <a href="{{ path('project_index') }}" class="btn btn-primary" style="position: relative; top: -3.6em; left: 6em">back to list</a>
{% endblock %}
