{% extends 'base.html.twig' %}

{% block title %}{% trans %}Edit Status{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Edit Status{% endtrans %}</h1>

    {{ include('status/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
