{% extends 'base.html.twig' %}

{% block title %}{% trans %}Status index{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Status index{% endtrans %}</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>{% trans %}Name{% endtrans %}</th>
            <th>{% trans %}actions{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for status in statuses %}
            <tr>
                <td>{{ status.id }}</td>
                <td>{{ status.Name }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">{% trans %}no records found{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
