{% extends 'base.html.twig' %}

{% block title %}{% trans %}New Status{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Create new Status{% endtrans %}</h1>

    {{ include('status/_form.html.twig') }}

{% endblock %}
