{% extends 'base.html.twig' %}

{% block title %}{% trans %}Register{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Register{% endtrans %}</h1>

    {% form_theme registrationForm 'bootstrap_4_horizontal_layout.html.twig' %}
    {{ form_start(registrationForm) }}
    {{ form_widget(registrationForm) }}
    <button class="btn signinAndRegisterButton">{{ button_label|default('Save') }}</button>
    {{ form_end(registrationForm) }}
{% endblock %}
