{% extends 'base.html.twig' %}

{% block title %}{% trans %}Category{% endtrans %}{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="d-inline-flex m-3">
                    <h1>{{ CategorySelected }}</h1>
                    <a href="{{ path('donation_new') }}"
                       class="btn btn-bg-secondary ml-3">{% trans %}Donate{% endtrans %}</a>
                </div>
                <article class="projectArticle">
                    <div class="closedProjects projectContainer">
                        {% for project in Projects %}
                            {{ include('project/_project_card.html.twig') }}
                        {% endfor %}
                    </div>
                </article>
            </div>
            {{ include('category/_list_cat.html.twig') }}
        </div>
    </div>

{% endblock %}
