/* import the necessary Bootstrap files */

$primary: #71abd9;
$yellow: #E7C181;

@import '~bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.css';

.nav-link {
    border-bottom: rgba(0, 0, 0, 0) 3px solid !important;
    transition: all ease 0.5s !important;
}

a {
    color: #003e7b;
}

.nav-link:hover {
    border-bottom: #003e7b 3px solid !important;
}

body {
    background-color: lightgray;
}

h1 {
    color: $primary;
}

i {
    cursor: pointer;
}

.socia {
    margin: 7px;
}

.btn-secondary {
    color: mediumseagreen;
}

.btn-bg-secondary {
    background-color: mediumseagreen;
    color: black;
}

.navbar-light .navbar-nav .nav-link {
    color: #002240;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    z-index: 999999;
}

.sticky-top {
    position: sticky;
    top: 100px;
}

.faqHeader {
    font-size: 27px;
    margin: 20px;
}

.panel-heading [data-toggle="collapse"]:after {
    font-family: 'Glyphicons Halflings';
    content: "e072"; /* "play" icon */
    float: right;
    color: #F58723;
    font-size: 18px;
    line-height: 22px;
    /* rotate "play" icon from > (right arrow) to down arrow */
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.panel-heading [data-toggle="collapse"].collapsed:after {
    /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    color: #454444;
}