/*EXPLORE*/
.navCategories {
    color: white;
    border-bottom: rgba(0,0,0,0) 3px solid;
    transition: all ease 0.5s;
}

.navCategories:hover {
    border-bottom: #d12e21 3px solid;
}

.nav-link {
    color: white;
}

.projectArticle {
    margin: 20px;
}

.projectContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.card {
    margin-right: 10px;
}

.card-title {
    color: rgb(0,123,255);
}

svg {
    cursor: pointer;
}

/*FORM*/
#saveNewProjectButton {
    background-color: #3875d7;
    margin-left: 20px;
    color: white;
}

#editProject {
    background-color: #3875d7;
    color: white;
    margin-left: 20px;
}

.backToList {
    color: white !important;
    width: 7em;
    margin-top: -6.6em;
    margin-left: 7em;
}

.deleteButton {
    background-color: red !important;
    color: white !important;
    width: 7em;
    margin-top: -12.1em;
    margin-left: 14.5em;
}

.card-body {
    padding: 1.25rem 1.25rem 0px 1.25rem;
}
