{% extends 'base.html.twig' %}

{% block title %}{% trans %}Subscription index{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Subscription index{% endtrans %}</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>{% trans %}actions{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for subscription in subscriptions %}
            <tr>
                <td>{{ subscription.id }}</td>
                <td>
                    <a href="{{ path('subscription_show', {'id': subscription.id}) }}">{% trans %}show{% endtrans %}</a>
                    <a href="{{ path('subscription_edit', {'id': subscription.id}) }}">{% trans %}edit{% endtrans %}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">{% trans %}no records found{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('subscription_new') }}">{% trans %}Create new{% endtrans %}</a>
{% endblock %}
