{% extends 'base.html.twig' %}

{% block title %}{% trans %}New Tag{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Create new Tag{% endtrans %}</h1>

    {{ include('tag/_form.html.twig') }}

    <a href="{{ path('tag_index') }}">{% trans %}back to list{% endtrans %}</a>
{% endblock %}
