{% extends 'base.html.twig' %}

{% block title %}{% trans %}Edit Project{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Edit Project{% endtrans %}</h1>

    {{ include('project/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('project_index') }}" class="btn backToList" style="margin-left: 1.5em">{% trans %}back to list{% endtrans %}</a>

    {{ include('project/_delete_form.html.twig') }}
{% endblock %}
