{% extends 'base.html.twig' %}

{% block title %}{% trans %}New Project{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Create new Project{% endtrans %}</h1>

        {{ include('project/_form.html.twig') }}

        <a href="{{ path('project_index') }}" class="btn btn-primary" style="position: relative; top: -3.6em; left: 6em">{% trans %}back to list{% endtrans %}</a>
{% endblock %}
